services:
  dwh-init:
    build:
      context: ../services/dwh-init
      dockerfile: Dockerfile
    container_name: bizflow-dwh-init
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_5nOzRjK7IlJg@ep-empty-glitter-ahhdguzq-pooler.c-3.us-east-1.aws.neon.tech/bizflow_dwh?sslmode=require&channel_binding=require
    restart: "no"
    networks:
      - bizflow-network

  # --- MESSAGE QUEUE ---
  rabbitmq:
    image: rabbitmq:3-management
    container_name: bizflow-mq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=123456

  # --- IDENTITY SERVICE ---
  identity-svc:
    build:
      context: ../services/identity-svc 
    container_name: bizflow-identity-svc
    ports:
      - "4001:4001"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_5nOzRjK7IlJg@ep-empty-glitter-ahhdguzq-pooler.c-3.us-east-1.aws.neon.tech/bizflow_identity?sslmode=require&channel_binding=require
      - PORT=4001
    depends_on:
      - rabbitmq
    networks:
      - bizflow-network
  
  product-svc:
    build: 
      context: ../services/product-svc
    container_name: bizflow-product-svc
    ports:
      - "4002:4002"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_5nOzRjK7IlJg@ep-empty-glitter-ahhdguzq-pooler.c-3.us-east-1.aws.neon.tech/bizflow_product?sslmode=require&channel_binding=require

    depends_on:
      - rabbitmq
    networks:
      - bizflow-network

  order-svc:
    build: 
      context: ../services/order-svc
    container_name: bizflow-order-svc
    ports:
      - "4003:4003"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_5nOzRjK7IlJg@ep-empty-glitter-ahhdguzq-pooler.c-3.us-east-1.aws.neon.tech/bizflow_order?sslmode=require&channel_binding=require
      - AI_API_KEY=${AI_API_KEY}
    networks:
      - bizflow-network

  report-svc:
    build: 
      context: ../services/report-svc
    container_name: bizflow-report-svc
    ports:
      - "4004:4004"
    environment:
      - DATABASE_URL=postgresql://neondb_owner:npg_5nOzRjK7IlJg@ep-empty-glitter-ahhdguzq-pooler.c-3.us-east-1.aws.neon.tech/bizflow_report?sslmode=require&channel_binding=require
    networks:
      - bizflow-network

  # --- API GATEWAY ---
  kong:
    image: kong:latest
    container_name: bizflow-gateway
    environment:
      KONG_DATABASE: "off" # Chuyển sang DB-less để dùng kong.yml
      KONG_DECLARATIVE_CONFIG: /opt/kong/kong.yml
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_LISTEN: 0.0.0.0:8002
      KONG_ADMIN_GUI_URL: http://localhost:8002
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8002:8002"
    volumes:
      - ./kong:/opt/kong # Mount thư mục chứa file kong.yml
    networks:
      - bizflow-network

  # --- NIFI ---
  nifi:
    image: apache/nifi:latest
    container_name: bizflow-nifi
    ports:
      - "8443:8443"
    environment:
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=bizflow_password_123
    networks:
      - bizflow-network
    volumes:
      - ./drivers:/opt/nifi/custom_drivers

  prometheus:
    image: prom/prometheus:latest
    container_name: bizflow-prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - bizflow-network

  # --- GRAFANA ---
  grafana:
    image: grafana/grafana:latest
    container_name: bizflow-grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Mật khẩu đăng nhập Grafana
    networks:
      - bizflow-network

  # --- CLIENT ---
  client:
    build:
      context: ../services/client
      dockerfile: Dockerfile
    container_name: bizflow-client
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api # Gọi qua Kong Gateway
    depends_on:
      - kong
    networks:
      - bizflow-network
    restart: always

networks:
  bizflow-network:
    driver: bridge
  